$primary-color: #756B6C;
$secondary-color: #2D3142;
$tertiary-color: #BFC0C0;
$white-color: #FFFFFF;
$callout-color: #EF8354;

$text-color:       #111;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$small-width: 320px;
$medium-width: 768px;
$large-width: 992px;