@import 'common';

.header
{
    width: 100%;
    min-height: 60px;
    background-color: $primary-color;
    position: relative;

    @media (min-width: $medium-width) {
        justify-content: space-between;
        display: flex;
    }

    &__section {
        @media(min-width: $medium-width) {
            width: 40%;
        }
    }

    &__image {

            display: block;
            border: 1px solid black;
        
    }

    &__menu-icon {
        position: absolute;
        width: 45px;
        height: 45px;
        border: 1px solid grey;
        border-radius: 2px;
        cursor: pointer;
        top: 5px;
        right: 10px;
        background-color: lightgray;

        &--active {
            & > div {
                transform: rotate(225deg);

            }
        }

        &__chevron {
            width: 38%;
            height: 40%;
            position: relative;
            display: block;
            top: 10px;
            margin: auto;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            transform: rotate(45deg); 
            transition: transform 0.4s;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        height: 0;
        line-height: 60px;
        overflow: hidden;

        &--active {
            height: 40px;
        }


        @media (min-width: $medium-width) {
            height: 100%;
            &--active {
                height: inherit;
            }
        }

        &__nav-item {
            text-align:center;
            flex-grow: 1;

            &:hover {
                background-color: $white-color;
                > a {
                    color: $text-color;
                }
            }
             a {
                 font-weight: 600;
                        color: $white-color;
                    text-decoration: none;
            }
        }
    }
}

