@import '_common';
.post-container {
    @extend .responsive-container;
    p {
        margin-bottom: $spacing-unit;
        font-size: $base-font-size;
        line-height: $base-font-size + 3px;
    }
}

.post-hero-image {
    &>img {
        width: 100%;
    }
}