@import '_common';
.post-container {
    @extend .responsive-container;
    p {
        margin-bottom: $spacing-unit;
        font-size: $base-font-size;
        line-height: $base-font-size + 3px;
    }
}

.post-hero-image {
    &>img {
        width: 100%;
    }
}

.callout {
    margin: 15px 0;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    background-color: #ccd4ef;
    border-radius: 2px;
    padding: 15px 10px;
}