@import "common";
body,
html {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

a {
  color: black;
  font-weight: 500;
}

h1 {
  color: $secondary-color;
  font-size: $very-large-font-size;
  margin-bottom: $spacing-unit;
}

h2 {
  color: $grey-color-dark;
  font-size: $large-font-size;
  margin-bottom: $spacing-unit - 10px;
}

h3,
h4,
h5 {
  color: $grey-color-light;
  font-size: $base-font-size;
}

p {
  color: $text-color;
  margin-bottom: $spacing-unit;
}

ul {
  margin-bottom: $spacing-unit;
}

ol {
  list-style-type: decimal;
  & > li {
    margin-left: 20px;
  }
}

li {
  margin: 0 10px 10px 10px;
}

strong {
  font-weight: 500;
}

//figure out way for all imgs within content body to be 100%
// img {
//     width: 100%;
// }
.responsive-container {
  width: 95%;
  max-width: 1000px; // margin: 15px auto;
  min-width: 380px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $medium-width) {
    width: 85%;
  }
  @media (min-width: $large-width) {
    width: 75%;
  }
}
