@import "common";

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   15px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$large-font-size: $base-font-size * 1.25;
$very-large-font-size: $base-font-size * 2;
$base-line-height: 1.5;
$spacing-unit:     30px;

body, html {
    min-width: 0px;
    font-family: $base-font-family;
        font-size: $base-font-size;
    

    @media(min-width: $medium-width) {
        min-width: $medium-width;
    }

    @media(min-width: $large-width) {
        min-width: $large-width;
    }
}

.content-body {
    width: 95%;
    max-width: 1000px;
    margin: 15px auto;

    a {
        color: black;
        font-weight: bold;
    }

    h1 {
        color: $secondary-color;
        font-size: $very-large-font-size;
        margin-bottom: $spacing-unit;
    }

    h2 {
        color: $grey-color-dark;
        font-size: $large-font-size;
        margin-bottom: $spacing-unit - 10px;
    }

    h3, h4, h5 {
        color: $grey-color-light;
        font-size: $base-font-size
    }

    p {
        color: $text-color;
        margin-bottom: $spacing-unit;
    }

    ul {
        margin-bottom: $spacing-unit;
    }

    li {
        margin: 0 10px 10px 10px;
    }

    @media(min-width: $medium-width) {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    @media(min-width: $large-width) {
        width: 75%;
    }
}