<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{page.title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
	<script src="{{site.baseurl}}/dist/common.js">

	</script>
</head>

<body>
	<div class="header">
		<div class="header__section">
			<a href="{{site.baseurl}}/">
				<img class="header__image" src="{{site.baseurl}}/assets/macho-man-flexing-header.png" width=75 alt="Macho Man">

			</a>
		</div>
		<div class="header__section">
			<div id="headerNav" class="header__nav">
				<div class="header__nav__nav-item">
					<a href="{{site.baseurl}}/">Home</a>

				</div>
				<div class="header__nav__nav-item">
					<a href="{{site.baseurl}}/league">League Info</a>

				</div>
				<div class="header__nav__nav-item">
					<a href="{{site.baseurl}}/posts">Posts</a>
				</div>
			</div>
		</div>
		<div id="headerMenuBtn" class="header__menu-icon">
			<div class="header__menu-icon__chevron">

			</div>
		</div>	


	</div>
	{% if layout.subnav %}
	<div class="subnav">
		{% assign subnav = layout.subnav['subnav'] %} 
		{% assign rootUrl = layout.subnav['root'] %}
		{% for nav in subnav %}
		{% assign activeClass = nil %}
		{% for sub in nav.subroutes %}
			{% assign subRoute = '/' | append: rootUrl | append: sub %}
			{% if page.url == subRoute %}
				{% assign activeClass = "subnav__item--active" %}
			{% endif %}
		{% endfor %}
		<div class="subnav__item {{activeClass}}">
			<a href="{{site.baseurl}}/{{rootUrl}}/{{nav.route}}">{{nav.label}}</a>
	    </div>
		{% endfor %}
	</div>
	{% endif %}

	<div class="content-body">
		<div class="page-title">
			<h1>
				{{page.title}}
			</h1>
		</div>
		{{content}}
	</div>
	<script>
		//headerMenuBtn
		//header__menu-icon) 

		function toggleClass(elem, cls) {
			var hasClass = elem.classList.contains(cls);

			if(hasClass) {
				elem.classList.remove(cls);
			} else {
				elem.classList.add(cls)
			}
		}

		//nav item

		var menuBtn = document.querySelector('#headerMenuBtn');
		var headerNav = document.querySelector('#headerNav');

		var activeNavClass = 'header__nav--active';
		var activeMenuIconClass = 'header__menu-icon--active';

		menuBtn.addEventListener('click', function() {
			//toggle active class on headerNav
			toggleClass(headerNav,activeNavClass)

			//toggle active class on menu btn
			toggleClass(menuBtn, activeMenuIconClass)
		})
	</script>
</body>

</html>